<%= render "header" %>

<% @articles.each do |article| %>
  <div class="container">
    <div class="article-container">
      <h3><%= link_to article.title, article_path(article) %></h3>
      <p> <%= article.content.split(" ")[0..10].join(" ") %> <p>
    </div>
  </div>
<% end %>
